<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tracking Prestador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="consulta-background">
  <div class="consulta-container">
    <div class="consulta-container">
      <ion-button expand="block" fill="solid" color="success" class="map-button-light" (click)="regresar()">
        regresar
      </ion-button>
    </div>
    <app-mapa-selector 
      [formGroup]="dummyForm" 
      [soloLectura]="true"
      [latitudOrigen]="latitudOrigen"
      [longitudOrigen]="longitudOrigen"
      [latitudDestino]="latitudDestino"
      [longitudDestino]="longitudDestino">
    </app-mapa-selector>
    <!--<div class="map-buttons">-->
      <ion-grid>
        <ion-row class="ion-justify-content-between">

          <ion-col size="5">
            <ion-button expand="block" color="success" class="map-button-light"
              *ngIf="!trackingActivo"
              (click)="simularMovimiento()">
              Iniciar simulación
            </ion-button>
          </ion-col>

          <ion-col size="5">
            <ion-button expand="block" color="success" class="map-button-light"
              *ngIf="!trackingActivo"
              (click)="iniciarRecorrido()">
              Iniciar recorrido
            </ion-button>
          </ion-col>
  
        </ion-row>
  
        <ion-row class="map-button-light" style="margin-top: 10px;">
          <ion-col size="10">
            <ion-button expand="block" color="tertiary" class="map-button-light"
              (click)="finalizarRecorrido()">
              Finalizar recorrido
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
  
      <div *ngIf="!puedeCambiarEstadoEnOrigen && !trackingActivo" style="text-align: center; margin-top: 20px;">
        Debes estar cerca del origen para iniciar el cambio de estado.
      </div>
    <!--</div>-->
    </div>
</ion-content>