<ion-header class="custom-header">
  <ion-toolbar color="primary">
    <ion-title class="custom-header-title">Registrar nuevo paquete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="consulta-background">
  <form [formGroup]="paqueteForm" (ngSubmit)="registrarPaquete()">
    <ion-card class="servicio-card consulta-container">
      <ion-card-content>

        <ion-item>
          <ion-label position="stacked">Descripción del contenido</ion-label>
          <ion-input formControlName="descripcionContenido"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">¿Es frágil?</ion-label>
          <ion-toggle formControlName="fragil"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Valor aproximado</ion-label>
          <ion-input type="number" formControlName="valorAproximado"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Moneda</ion-label>
          <ion-input formControlName="monedaPaquete"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Peso</ion-label>
          <ion-input type="number" formControlName="valorPeso"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Medida (ej: Kilogramo)</ion-label>
          <ion-input formControlName="nombreMedida"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Descripción del paquete</ion-label>
          <ion-input formControlName="descripcionPaquete"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Tipo de paquete</ion-label>
          <ion-input formControlName="tipoPaqueteNombre"></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" [disabled]="paqueteForm.invalid" class="map-button-dark">
          Registrar paquete
        </ion-button>

      </ion-card-content>
    </ion-card>
  </form>
</ion-content>