.login-background{--background:#2f4f39;display:flex;justify-content:center;align-items:center;}
.login-container{width:80%;margin:auto;padding-top:15vh;text-align:center;color:#fff;}
.login-input{margin:15px 0;--background:#f3f3e4;--color:#000;--border-radius:5px;}
.login-button{--background:#6c8f6d;font-weight:bold;margin-top:20px;}
.redirect-text{margin:20px 0;text-decoration:underline;cursor:pointer;color:#f0f0f0;}