<ion-content class="register-background">
  <div class="register-container">
    <h2>Registro</h2>
    <ion-input placeholder="Nombre completo" fill="outline" class="register-input"></ion-input>
    <ion-input placeholder="Correo electrónico" type="email" fill="outline" class="register-input"></ion-input>
    <ion-input placeholder="Contraseña" type="password" fill="outline" class="register-input"></ion-input>
    <ion-input placeholder="Confirmar contraseña" type="password" fill="outline" class="register-input"></ion-input>
    <ion-select interface="action-sheet" placeholder="Tipo de usuario" class="register-input">
      <ion-select-option value="solicitante">Solicitante de servicio</ion-select-option>
      <ion-select-option value="prestador">Prestador de servicio</ion-select-option>
    </ion-select>
    <p class="bienvenido-text">Bienvenido</p>
    <ion-button expand="block" color="dark" class="register-button">Crear</ion-button>
  </div>
</ion-content>