.register-background{--background:#2f4f39;display:flex;justify-content:center;align-items:center;}
.register-container{width:80%;margin:auto;padding-top:10vh;text-align:center;color:#fff;}
.register-input{margin:10px 0;--background:#f3f3e4;--color:#000;--border-radius:5px;}
.register-button{--background:#6c8f6d;font-weight:bold;margin-top:20px;}
.bienvenido-text{margin-top:10px;}