<ion-header class="custom-header">
  <ion-toolbar color="primary">
    <ion-title class="custom-header-title">Crear cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-background">
  <div class="login-decor">
    <img src="../../../assets/img/undraw_vintage_q09n.svg" alt="decoración" />
  </div>

  <div>
    <ion-button expand="block" fill="solid" color="success" class="login-button" (click)="regresar()">
      regresar
    </ion-button>
  </div>
  <div class="login-container">
    <form [formGroup]="registroForm" (ngSubmit)="registrar()">
      <ion-input formControlName="nombre" placeholder="Nombre completo" fill="outline" class="login-input"></ion-input>
      <ion-input formControlName="usuario" placeholder="Usuario" fill="outline" class="login-input"></ion-input>
      <ion-input formControlName="contrasena" type="password" placeholder="Contraseña" fill="outline" class="login-input"></ion-input>
      <ion-input formControlName="numeroTelefonico" type="number" placeholder="Teléfono" fill="outline" class="login-input"></ion-input>
      <ion-select formControlName="categoriaIdentificador" interface="action-sheet" placeholder="Tipo de documento (ej: CC)" class="login-input">
          <ion-select-option value="CC">Cédula de ciudadanía</ion-select-option>
          <ion-select-option value="TI">Tarjeta de Identidad</ion-select-option>
          <ion-select-option value="CE">Cédula de Extranjería</ion-select-option>
          <ion-select-option value="NIT">Identificación Tributaria</ion-select-option>
          <ion-select-option value="PA">Pasaporte</ion-select-option>
          <ion-select-option value="RC">Registro Civil</ion-select-option>
      </ion-select>
      <ion-input formControlName="numeroIdentificacion" type="text" placeholder="Número de identificación" fill="outline" class="login-input"></ion-input>

      <ion-select
      interface="action-sheet"
      placeholder="Tipo de usuario"
      class="login-input"
      formControlName="tipoUsuario"
    >
      <ion-select-option value="solicitante">Solicitante</ion-select-option>
      <ion-select-option value="prestador">Prestador</ion-select-option>
    </ion-select>

    <div *ngIf="esPrestador() && registroForm.get('ubicacion')" [formGroup]="registroForm.get('ubicacion')">
      <h3>Ubicación del prestador</h3>
    
      <ion-input formControlName="numeroVia" placeholder="Número de vía" fill="outline" class="login-input"></ion-input>
      <ion-input formControlName="direccion" placeholder="Dirección" fill="outline" class="login-input"></ion-input>
      <ion-input type="number" formControlName="latitud" placeholder="Latitud" fill="outline" class="login-input"></ion-input>
      <ion-input type="number" formControlName="longitud" placeholder="Longitud" fill="outline" class="login-input"></ion-input>
      <ion-input formControlName="nombrePais" placeholder="Nombre del país" fill="outline" class="login-input"></ion-input>
      <ion-input formControlName="detalleAdicional" placeholder="Detalle adicional" fill="outline" class="login-input"></ion-input>
      <ion-input formControlName="nombreDepartamento" placeholder="Nombre del departamento" fill="outline" class="login-input"></ion-input>
      <ion-input formControlName="nombreCiudad" placeholder="Nombre de la ciudad" fill="outline" class="login-input"></ion-input>
      
      <ion-select formControlName="nombreCorregimiento" interface="popover" placeholder="Nombre del corregimiento"  class="login-input">
          <ion-select-option value="Santa Bárbara">Santa Bárbara</ion-select-option>
          <ion-select-option value="El Tablazo">El Tablazo</ion-select-option>
          <ion-select-option value="Barro Blanco">Barro Blanco</ion-select-option>
          <ion-select-option value="La Laja">La Laja</ion-select-option>
          <ion-select-option value="Abreo">Abreo</ion-select-option>
          <ion-select-option value="Yarumal">Yarumal</ion-select-option>
          <ion-select-option value="Chachafruto">Chachafruto</ion-select-option>
          <ion-select-option value="El Capiro">El Capiro</ion-select-option>
          <ion-select-option value="San Antonio">San Antonio</ion-select-option>
          <ion-select-option value="La Playa">La Playa</ion-select-option>
      </ion-select>

      <ion-input formControlName="nombreVia" placeholder="Nombre de la vía" fill="outline" class="login-input"></ion-input>
      <app-mapa-selector [formGroup]="registroForm.get('ubicacion')"></app-mapa-selector>
    </div>

      <ion-button expand="block" type="submit" color="dark" class="login-button">
        Crear cuenta
      </ion-button>
    </form>
  </div>
</ion-content>
